[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
Flask = "*"
sqlalchemy = "*"
gunicorn = "*"
waitress = "*"

[dev-packages]
blog = {editable = true, path = "."}
setuptools_scm = "*"
bumpversion = "*"

[requires]
python_version = "3.7"
